Source: g7-playground-debian-native
Maintainer: Eugenio Paolantonio (g7) <me@medesimo.eu>
Section: misc
Priority: optional
Build-Depends: debhelper (>= 10)

Package: g7-playground-debian-native-any
Architecture: any
Description: playground-debian-native (any)
 This package should be routed on an amd64 builder,
 but should be available to every architecture.

Package: g7-playground-debian-native-all
Architecture: all
Description: playground-debian-native (all)
 This package should be routed on every builder for
 the supported architectures and one package per
 architecture should be available.

Package: g7-playground-debian-native-amd64
Architecture: amd64
Description: playground-debian-native (amd64)
 This package should be routed on an amd64 builder,
 and should be available only on amd64.

Package: g7-playground-debian-native-arm64
Architecture: arm64
Description: playground-debian-native (arm64)
 This package should be routed on an arm64 builder,
 and should be available only on arm64.

Package: g7-playground-debian-native-armhf
Architecture: armhf
Description: playground-debian-native (armhf)
 This package should be routed on an armhf builder,
 and should be available only on armhf.

